
.centered {
	text-align: center;
}

/* Weather */
#Weather {
	background: blue;
	display: flex;
}

/* Search */
#Search {
	background: red;
	display: flex;
}

/* Links */
#Links {
	background: green;
	display: flex;
}

#Links ul {
	width: 33%;
}