
body {
	background-color: #022B36;
	color: #EEE8D5;
}

.centered {
	text-align: center;
}

.content {
    margin: 0 auto;
}

/* Time */
#Time {
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
}

time {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 4.4em;
    font-weight: 300;
}

#currentDate {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
}
/* end Time */

/* Links */
#Links {
	display: flex;
	font-family: 'Share Tech Mono', monospace;
	margin-bottom: 50px;
}

#Links div {
	width: 19%;
	margin: 0 auto;
}

#Links h2 {	
	font-family: 'Roboto Mono', monospace;
	margin-top: 0;
	margin-bottom: 0;
}

#title1 {
	background-color: #BD4224;
}

#title2 {
	background-color: #D1001F;
}

#title3 {
	background-color: #839A1C;
}

#title4 {
	background-color: #2A7FC6;
}

#title5 {
	background-color: #F0A202;
}

#Links ul {
	list-style-type: none;
	background-color: #EEE8D5;
	text-align: left;
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 2px 2px 7px #011419;
}

#Links a {
	color: #022B36;
	font-weight: 400;
    text-decoration: none;
}

#Links a:hover {
	color: #193e48;
	font-size: 1.05em;
}
/* end Links */

/* Search */
.searchbox {
    width: 50%;
    padding: 15px;
    background-color: #193e48;
    color: #EEE8D5;
    border: none;
    font-family: 'Share Tech Mono', monospace;
	font-size: 1.05em;
    transition: 0.7s;
}

.searchbox:focus {
    background-color: #30515a;
}
/* end Search */
