
body {
	background: url("images/lake1.png") no-repeat center center fixed;
	background-color: #022832;
	background-size: cover;
	color: #e4e1da;
}

.centered {
	text-align: center;
}

.content {
    margin: 0 auto;
}

/* Time */
#Time {
	display: block;
	margin-bottom: 50px;
	margin-top: 50px;
}

time {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 4.7em;
    font-weight: 300;
}

#currentDate {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
}
/* end Time */

/* Links */
#Links {
	display: flex;
	font-family: 'Share Tech Mono', monospace;
	margin-bottom: 50px;
}

#Links table {
	margin: 0px auto;
	width: 70%;
}

#Links td {
	padding: 5px 0px 10px 0px;
}

#Links div {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 270px;
}

#Links h2 {
	border-radius: 1px 1px 0px 0px;
	box-shadow: 2px 1px 4px #071c23;
	color: #d3d0c6;
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
	font-weight: 500;
	margin-bottom: 0px;
	margin-top: 0;
	padding-bottom: 2px;
}

#title1 {
	background-color: #114b5f;
}

#title2 {
	background-color: #028090;
}

#title3 {
	background-color: #49306b;
}

#title4 {
	background-color: #456990;
}

#title5 {
	background-color: #995d81;
}

#title6 {
	background-color: #c52184;
}

#Links ul {
	background-color: rgba(228,225,218,0.6);
	box-shadow: 2px 2px 7px #071c23;
	border-radius: 0 0 5px 5px;
	font-size: 1.2em;
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: left;
}

#Links a {
	color: #062d37;
	font-weight: 400;
    text-decoration: none;
}

#Links a:hover {
	color: #305159;
}
/* end Links */

/* Search */
.searchbox {
	background-color: #071c23;
	border: none;
	border-radius: 20px;
	box-shadow: 1px 1px 10px #011419;
	color: #e4e1da;
    font-family: 'Share Tech Mono', monospace;
	font-size: 1.05em;
	opacity: 0.5;
	padding: 18px 20px 18px 20px;
    transition: 1.5s;
	width: 50%;
}

.searchbox:focus {
    background-color: #08232c;
	opacity: 0.9;
}
/* end Search */
